@font-face{
    font-family: game-of-thrones;
    src: url(game-of-thrones.ttf);
}

body{
    font-family: game-of-thrones;
    color: rgb(43, 43, 43);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.svg-snowscene {
    position: absolute;
    width: 100vw;
    height: 100vw;
    z-index: 0;
}

.snow {
    fill: #fff; 
    animation-name: snowing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    /* &:nth-child(2n){
      animation-delay: 1.5s;
    }
    &:nth-child(3n){
      animation-delay: 2.3s;
      animation-duration: 3.3s;
    }
    &:nth-child(4n){
      animation-delay: 0.8s;
      animation-duration: 3.2s;
    }
    &:nth-child(5n){
      animation-delay: 2.8s;
    } */
  }
  
  @keyframes snowing {
    50%{ fill-opacity: 1; }
    100% { 
      fill-opacity: 0;
      transform: translateY(200px);
    }
  }


main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background: radial-gradient( rgb(66, 65, 65), rgb(22, 21, 21));
    color: rgb(221, 220, 220);
}

header{
    text-align: center;
    padding: 10px;
}

.first-letter{
    font-size: 1.4em;
}

footer{
    padding: 10px;
    font-size: 12px;
}

.game{
    position: relative;
    z-index: 1;
}

#gameboard{
    width: 90vw;
    height: 90vw;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gameboardCell{
    background-color: white;
    background-image: url("images/Game_of_Thrones_triple_slash_O.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin: 2px;
    text-align: center;
}

.player1{
    background-image: url("images/Arryn House-595b40b65ba036ed117d17a2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: white;
    box-shadow: 0px 0px 5px 1px white;
    border: none;
}

.player2{
    background-image: url("images/Greyjoy\ House-595b40b65ba036ed117d1d3f.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: white;
    box-shadow: 0px 0px 5px 1px white;
    border: none;
    border-radius: 25%;
}

#overlay{
    position: fixed;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    text-align: center;
    color: white;
}

.overlay-box{
    margin: auto;
    width: 60vw;
}

.overlay div{
    padding: 10px;
}

.overlay-result{
    width:100%;
    padding-bottom:100%;
    padding-right: 100%;
    position:relative;
}

.overlay-result iframe{
    width: 100%;
    height: 100%;
    position:absolute;
}

div iframe{
    width: 100%;
}

div img{
    width: 100%;
}

button{
    border: 1px solid black;
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
}

section div{
    padding: 10px;
}

.scores{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 10px 1px rgba(255,255,255,.06), 0 3px 8px 1px rgba(255,255,255,.16);
    color: rgb(43, 43, 43);
}

.player-scores{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.player-score-name{
    font-size: 12px;
    width: 75%;
    /* text-align: right; */
    padding: 1em;
    display: flex;
    line-height: 2.5em;
}

.player-score-name img{
    height: 3em;
    width: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.player-score-box{
    font-size: 12px;
    width: 15%;
    padding: 0.5em;
}

.player-score-icon{
    font-size: 12px;
    width: 25%;
    padding: 0px;
}

.player1-score{
    font-size: 25px;
}

.player2-score{
    font-size: 25px;
}



.scores h2{
    border-bottom: 1px solid rgb(43, 43, 43);
    padding: 3px;
    margin-bottom: 6px;
    text-align: center;
}

.game-result{
    font-size: 1.5em;
}

.game-data{
    display: inline-block;
    position: relative;
    z-index: 1;
}



@media (min-width: 800px){
    header{
        /* border: 2px solid yellow; */
        text-align: center;
        font-size: 2.5em;
        padding: 10px;
    }

    #gameboard{
        width: 35vw;
        height: 35vw;
    }

    .overlay-box{
        width: 35vw;
    }

    .game-data{
        width: 35vw;
    }

    .player-scores{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .player-score-name{
        font-size: 12px;
        width: 50%;
        text-align: right;
        padding: 1em;
    }
}


.gameboardCell:hover{
    background-size: 90%;
}