body{
    background-color: lightblue;
}

.container{
    display: flex;
    flex-direction: column;
}

#gameboard{
    border: 1px solid red;
}

.gameboardRow{
    display: block;
    border: 1px solid green;
}

.gameboardSquare{
    display: inline-block;
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}